/* Place CSS styles here */

.front-porch {
    background-color: #ffffff;
  }
@media (min-width: 481px) {
    .front-porch {
      display: flex;
      justify-content: center;
    }
  }
  .front-porch a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .front-porch a:hover {
    background-color: #ddd;
    color: black;
  }
  
 
  .front-porch a.active {
    background-color: #04AA6D;
    color: white;
  }
  
 
  .front-porch .icon {
    display: none;
  }
  
 
  @media (max-width: 480px) {
    .front-porch {
      justify-content: space-between;
    }
    .front-porch a:not(:first-child) {display: none;}
    .front-porch a.icon {
      float: right;
      display: block;
    }
  }
  
 
  @media (max-width: 480px) {
    .front-porch.responsive {position: relative;}
    .front-porch.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .front-porch.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  * {
    box-sizing: border-box;
  }
  
  .l-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
  }
  
  body {
    color: #000;
    background-color: #efefef;
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
  }

  h1 {
  margin-top: 10px;
  font-size: 3.052rem;
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {

  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.10rem;
  line-height: 1.8;
  margin-right: 10%;
}

/* media query for phones */
@media (max-width: 480px) {
  body {
    background-color: rgb(157, 227, 227);
  }
}

/* media query for desktop */
@media (min-width: 768px) {
  body {
    background-color: rgb(255, 255, 255);
  }
}

label {
  color: rgb(0, 0, 0);
}

p {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
}

h6 {
    font-family: "adaptive-mono", monospace;
    font-weight: 400;
    font-size: 0.48rem;
    font-style: normal;
    text-align: center;
    color: #EFE3CE;
}

input,
textarea {
  border: 1px solid #c4c3c3;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 12px;
  width: 100%;
}

label {
  margin-bottom: 8px;
  display: inline-block;
}

form {
  max-width: 500px;
  display: block;
  /* width: 80%; */
  margin-left: auto;
  margin-right: auto;
}

ul {
  text-align: center;
}


h5 {
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  font-weight: 500;
}

p {
  color: #292929;
}



nav a,
.my-button {
  display: inline-flex;
  padding: 16px;
  border: 0px solid white;
  color: #a52a2a;
  margin-top: 4px;
  margin-bottom: 4px;
  text-decoration: none;
  transition: all .25s ease;
  width: auto;
}

nav a:hover,
.my-button:hover {
  color: white;
  background-color: #a52a2a;
}

.my-button-one {
    display: inline-flex;
    padding: 12px;
    border: 0px solid white;
    color: #ffffff;
    background-color: #a52a2a;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
    text-transform: uppercase;
    transition: all .25s ease;
    width: auto;
 }

  .my-button-one:hover {
    color: #a52a2a;
    background-color: white;
  }


.my-second-button {
  background-color: #c20000;
  color: #ffffff;
}

.my-second-button:hover {
  color: #ffffff;
  background-color: #000;
}

.yellow-pig-main-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

.yellow-pig-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EFE3CE;
  }

@media (max-width: 767px) {,
    .yellow-pig-header {
      flex-direction: column;
      gap: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

.yellow-pig-featured-wrapper {
    display: flex;
    background-color: #800080;
  }

.yellow-pig-main {
    flex: 1;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

.yellow-pig-footer {
    background-color: #000000
  }

.yellow-pig-feature-items {
    display: flex;
    gap: 24px;
  }

@media (max-width: 767px) {
    .yellow-pig-feature-items {
      flex-direction: column;
    }
  }

.yellow-pig-feature-item {
    background-color: floralwhite
  }
  
  .yellow-pig-logo {
    width: 20%;
  }
  
  .night-red-logo {
    width: 200px;
    margin-top: -40px;
    margin-bottom: -40px;
    margin-right: -30px;
    transform:rotate(-10deg);
  }

  .night-blue-logo {
    width: 350px;
    align-self: center
    ;
}
    

  
  
  
